.cafetiera{
    padding-top: 85px;
    margin-left: 335px;
}

.cafetiera_item{
    width: 730px;
    height: 180px;
    background: #2C343E;

}

.cafetiera_title{
    padding-top: 20px;
    margin-left: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.cafetiera_description{
    margin-left: 60px;
    width: 500px;
    height: 120px;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
}

.btn-success{
    margin-top: 50px;
    margin-left: 873px;
    padding: 15px 35px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    cursor: pointer;
    &:active{
        background: #66D2CF;
    }
}