.footer{
    margin-bottom: 150px;
    align-items: center;
    width: 1280px;
    height: 100px;
    left: 80px;
    top: 4234px;
    background: #2C343E;
    display: flex;
}

.footer_logo{
    margin-right: 105px;
}

.footer_nav{
    list-style: none;
    display: flex;
}


.footer_nav_item{
    margin-right: 20px;
}

.footer_nav_link{
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    &:active{
        color: #FEFCF7;
    }
}

.footer_link{
    margin-left: 335px;
}

.footer_link_img{
    text-decoration: none;
    margin-right: 20px;
    width: 14px;
    height: 14px;
}