.would{
    padding-top: 85px;
    margin-left: 335px;
}

.would_title{
    margin-bottom: 55px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
}

.would_item{
    display: flex;
}

.would_250{
    margin-right: 23px;
    width: 228px;
    height: 250px;
    background: #0E8784;
    border-radius: 8px;
    cursor: pointer;
    &:active{
        background: #FDD6BA;
    }
}

.would_250_title{
    padding: 32px 0;
    margin-left: 32px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.would_250_description{
    width: 172px;
    margin-left: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

.would_500{
    margin-right: 23px;
    width: 228px;
    height: 250px;
    background: #F4F1EB;
    border-radius: 8px;
    cursor: pointer;
    &:active{
        background: #FDD6BA;
    }
}

.would_500_title{
    padding: 32px 0;
    margin-left: 32px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}

.would_500_description{
    width: 172px;
    margin-left: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}